body{
    background-image: url("/images/background-old-purple-paper.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    width: 100%;
    color: #474544;

}

.row{
    margin: 0;
    padding: 0;
}


/*-----------------------Menu navigation------------------------*/
nav{
    margin: 0;
    padding: 0;
    border: 2px solid white;
    
}
nav ul li {
    border: 1px solid red;
    
}
nav ul{
    background-color: pink;
    
}
/*
nav ul{
    background-color: black;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: right;
}

nav ul li a{
    display: block;
    background-color:blueviolet;
    padding-left: 5px;
    text-decoration: none;
    text-align: center;
    margin-left: 25%;
    border: solid 2px blue;
    float: left;
    width: 100%;
}
*/
/*-----------------------Header Home page-----------------------*/
header{
    background-image: url("/images/castleinterior.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-flex;
    height: 600px;
    width: 100%;
}
.hero-text {
    background-color: rgb(181, 97, 143, 0.4);
    
    width: 80%;
    padding: 20px;
    margin: 0 20% 0 20%;
    border: solid;
    border-color:#60342e;
    
}
.hero-text p{
    font-weight: 400;
    margin: 30% 0 30% 0;
    font-size: 20px;
    color: #8b2f62;
}

button{
    margin-left: 20%;
    background-color:  rgb(181, 97, 143, 0.4);
}
/*-----------------------Slider Home page-------------------*/
#wrapper {
	margin: 0 auto;
	width: 600px;
  }
  
  h1 {
	margin: 0;
	font-size: 14px;
  }
  
  .slider {
	position: relative;
	overflow: hidden;
	height: 420px;
	width: 600px;
  }

  .slides {
	transition: all 500ms cubic-bezier(0.5, 0.0, 0.2, 1.0);
	width: 1000%;
  }

  .slide {
	position: relative;
	float: left;
	height: 400px;
  }

  .slide .description {
	position: absolute;
	top: calc(100% - 40px);
	z-index: 3;
	opacity: 0;
	height: 30px;
	width: 600px;
	text-align: center;
	padding: 5px;
	background-color: black;
	color: white;
	transition: all 500ms ease;
  }
  .slide .description:hover {
	opacity: 0.7;
	transition: all 500ms ease;
  }
  input[type="radio"] {
	display: none;
  }
  .prev {
	background-image: url(/icons/arrowleft.jpg);
	background-repeat: no-repeat;
	position: absolute;
	cursor: pointer;
	z-index: 2;
	margin-top: 150px;
	left: 0;
	height: 50px;
	width: 50px;
	background-color: white;
	opacity: 0.3;
	transition: all 500ms ease;
  }
  .prev:hover {
	opacity: 0.5;
	transition: all 500ms ease;
  }
  .next {
	background-image: url(/icons/arrowright.png);
	background-repeat: no-repeat;
	position: absolute;
	cursor: pointer;
	z-index: 2;
	margin-top: 150px;
	right: 0;
	height: 50px;
	width: 50px;
	background-color: white;
	opacity: 0.3;
	transition: all 500ms ease;
  }
  .next:hover {
	opacity: 0.5;
	transition: all 500ms ease;
  }
  .slider .nav {
	position: absolute;
	text-align: center;
	z-index: 3;
	top: 400px;
	width: 600px;
  }
 
  label.bottom {
	background: #cccccc;
	transition: all 500ms cubic-bezier(0.5, 0.0, 0.2, 1.0);
	display: inline-block;
	cursor: pointer;
	width: 30px;
	height: 10px;
	border-radius: 5px;
  }

  #slide-house1:checked ~ .nav > label[for="slide-house1"],
  #slide-house2:checked ~ .nav > label[for="slide-house2"],
  #slide-house3:checked ~ .nav > label[for="slide-house3"],
  #slide-house4:checked ~ .nav > label[for="slide-house4"],
  #slide-house5:checked ~ .nav > label[for="slide-house5"],
  #slide-house6:checked ~ .nav > label[for="slide-house6"],
  #slide-house7:checked ~ .nav > label[for="slide-house7"],
  #slide-house8:checked ~ .nav > label[for="slide-house8"],
  #slide-house9:checked ~ .nav > label[for="slide-house9"],
  #slide-house10:checked ~ .nav > label[for="slide-house10"],
  #slide-house11:checked ~ .nav > label[for="slide-house11"],
  #slide-house12:checked ~ .nav > label[for="slide-house12"]{
	background: #333333;
	transition: all 500ms cubic-bezier(0.5, 0.0, 0.2, 1.0);
  }

  #slide-house1:checked ~ .slides { margin-left: 0; }
  #slide-house2:checked ~ .slides { margin-left: -100%; }
  #slide-house3:checked ~ .slides { margin-left: -200%; }
  #slide-house4:checked ~ .slides { margin-left: -300%; }
  #slide-house5:checked ~ .slides { margin-left: -400%; }
  #slide-house6:checked ~ .slides { margin-left: -500%; }
  #slide-house7:checked ~ .slides { margin-left: -600%; }
  #slide-house8:checked ~ .slides { margin-left: -700%; }
  #slide-house9:checked ~ .slides { margin-left: -800%; }
  #slide-house10:checked ~ .slides { margin-left: -900%; }
  #slide-house11:checked ~ .slides { margin-left: -1000%; }
  #slide-house12:checked ~ .slides { margin-left: -1100%; }
 
/*-----------------------Houses page-------------------*/
.card {
	flex:1; 
	display: flex;	
	flex-flow:column;	
	min-width: 240px; 
	margin: 10px;
	padding: 20px;
	background-color: #c8accf;
}

.house_image {
	width: 100%;
}

#house1_read {
	width: 100%;
	text-align: left;
	text-decoration: none;
	color: rgba(224, 93, 132, 0.85);
}

.complete{
    display:none;
}

.moretext{
    color:navy;
    font-size:13px;
    padding:3px;
    cursor:pointer;
}
#house2_read {
	width: 100%;
	text-align: left;
	text-decoration: none;
	color: rgba(224, 93, 132, 0.85);
}
#house3_read {
	width: 100%;
	text-align: left;
	text-decoration: none;
	color: rgba(224, 93, 132, 0.85);
}

.house_bottom {
	display: flex;
	flex-flow:column;
}

.house_head {
	flex:0;
}

.house_para {
	flex:1 0 auto;
}

.highlight_house {
	background-color: #be1666;
}

/*-----------------------Contact page------------------------*/

.form{
    max-width: 800px;
    margin: 20px auto;
    position: relative;
    background-color: #F2F3EB;
    border: solid 3px #474544;
    border-radius: 1px;
    font-family: monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.form-title{
    margin-top: 30px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 12px;
    color: #474544;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
    background: #af43ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#af43ca 100%) !important;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: 9px auto;
  width: 80px;
}

.contact-image img{
    height: 80px;
    width: 80px;
    opacity: 0.8;
    margin: 0 auto;
    display: block;
}
.contact-form .form-field {
  position: relative;
  margin: 24px 0;
  color:#474544;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 24px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  line-height: 18px;
  
}

.form-house-selection {
    
}
.house-selection{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #5543ca;
    padding-bottom: 13px;
    margin-bottom: 27px;
    vertical-align: auto;
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.form-message{
    height: 150px;
    width: 100%;
    padding-bottom: 10px;
    margin: 0;
    border-width: 2px;
    border-color: #474544;
}

.submit-btn{
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
}
.submit-btn:hover{
    background: #474544;
    color: #F2F3EB;
}



/*-----------------------Footer------------------------*/
footer{
    border-style: solid;
    margin: 0;
    padding: 0;
    background-color: #1d282a;
    height: 100%;
    max-height: 175px;
    width: 100%;
    color: #cbcbc9;
    
}
footer p{
    text-align: center;
    max-height: fit-content;
    margin-top: 10px;
}
footer ul li{
    list-style: none;
}