body{
    background-image: url("/images/background-old-purple-paper.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    width: 100%;

}

.row{
    margin: 0;
    padding: 0;
}


/*-----------------------Menu navigation------------------------*/
nav{
    margin: 0;
    padding: 0;
    border: 2px solid white;
    
}
nav ul li {
    border: 1px solid red;
    
}
nav ul{
    background-color: pink;
    
}
/*
nav ul{
    background-color: black;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: right;
}

nav ul li a{
    display: block;
    background-color:blueviolet;
    padding-left: 5px;
    text-decoration: none;
    text-align: center;
    margin-left: 25%;
    border: solid 2px blue;
    float: left;
    width: 100%;
}
*/
/*-----------------------Header Home page-----------------------*/
header{
    background-image: url("/images/castleinterior.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-flex;
    height: 600px;
    width: 100%;
}
.hero-text {
    background-color: rgb(181, 97, 143, 0.4);
    
    width: 80%;
    padding: 20px;
    margin: 0 20% 0 20%;
    border: solid;
    border-color:#60342e;
    
}
.hero-text p{
    font-weight: 400;
    margin: 30% 0 30% 0;
    font-size: 20px;
    color: #8b2f62;
}

button{
    margin-left: 20%;
    background-color:  rgb(181, 97, 143, 0.4);
}
/*-----------------------Houses page-------------------*/
.card {
	flex:1; 
	display: flex;	
	flex-flow:column;	
	min-width: 240px; 
	margin: 10px;
	padding: 20px;
	background-color: #c8accf;
}

.house_image {
	width: 100%;
}

#house1_read {
	width: 100%;
	text-align: left;
	text-decoration: none;
	color: rgba(224, 93, 132, 0.85);
}

.complete{
    display:none;
}

.moretext{
    color:navy;
    font-size:13px;
    padding:3px;
    cursor:pointer;
}
#house2_read {
	width: 100%;
	text-align: left;
	text-decoration: none;
	color: rgba(224, 93, 132, 0.85);
}
#house3_read {
	width: 100%;
	text-align: left;
	text-decoration: none;
	color: rgba(224, 93, 132, 0.85);
}

.house_bottom {
	display: flex;
	flex-flow:column;
}

.house_head {
	flex:0;
}

.house_para {
	flex:1 0 auto;
}

.highlight_house {
	background-color: #be1666;
}
/*-----------------------Footer------------------------*/
footer{
    border-style: solid;
    margin: 0;
    padding: 0;
    background-color: #1d282a;
    height: 100%;
    max-height: 175px;
    width: 100%;
    color: #cbcbc9;
    
}
footer p{
    text-align: center;
    max-height: fit-content;
    margin-top: 10px;
}
footer ul li{
    list-style: none;
}